@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./src/img01.avif');
    margin: 20px;
}

.container-main {
    height: 100%;
    margin: auto;
    background-color: aliceblue;
    border: solid 2px #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.container-main img {
    margin: 20px;
}

.section-main h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.section-main h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-align: center;
    line-height: 80px;

}

.Tiniciais {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    padding-bottom: 30px;
}

.T1 {
    line-height: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}


.Tdata {
    font-family: 'Josefin Sans', sans-serif;
}

.images-end {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
    text-align: center;
}

.images-end h1 {
    font-size: 30px;
}